<div class="container">
  <p><%= notice %></p>
  <h2 class="title">タスク一覧</h2>
      <div class="task_row">
        <% @tasks.each do |task| %>
          <tr>
            <td><%= task.title %></td>
            <td><%= task.content %></td>
            <td><%= link_to "詳細", task_path(task.id) %></td>
            <td><%= link_to "編集する", edit_task_path(task.id), data: {confirm: "本当に編集しますか？"} %></td>
            <td><%= link_to "削除する", task_path(task.id), method: :delete, data: {confirm: "本当に削除しますか？"} %></td>
          </tr>
          <br><br>
        <% end %>
        <%= link_to 'タスクを新規作成', new_task_path %>
      </div>
</div>
