<div class="container">
  <p><%= notice %></p>
  <h2>タスク詳細</h2>
  <p>タイトル: <%= @task.title %></p>
  <p>内容: <%= @task.content %></p>
  <p>期限: <%= @task.expire %></p>
  <%= link_to '一覧画面に戻る', tasks_path %>
</div>
